
/* linuxbog.css 2000 06 20 - frank@sslug.dk */

/* Først lidt generelle (taget fra sslug.css) :*/

BODY {  
   color:               #000000;
   background:          #FFFFFF;
   margin:              10pt 10pt;
}       

/* default is x-small in Verdana, Lucida, etc... 
   has some side-effect, since this does not cover all fields :( */

H1, H3, H5 { font-family: Verdana, 'Myriad Web', Helvetica, Syntax, sans-serif; 
}

H2, H4, H6 { font-family: Tahoma, 'Myriad Web', Lucida, Syntax, sans-serif; }

H1 { font-size: large; }
H2 { font-size: large;}
H3 { font-size: medium; }
H4 { font-size: medium; }
H5 { font-size: small; }
H6 { font-size: small; }

A, ADDRESS, BODY, CODE, DD, DIV, EM, FORM, H1, H2, H3, H4, H5,
   H6, IMG, LI, P, SPAN, STRONG, SUB, SUP, UL, CENTER, HR, PRE {        
   word-spacing:        normal;
   letter-spacing:      normal;
   text-transform:      none;
   text-decoration:     none;
   border-style:        none;
}       

H1, H2, H3, H4, H5, H6, DT, LEGEND, CAPTION, TH, THEAD, TFOOT	{	
   color:      		#000000;
   background: 		#FFFFFF;
}	

PRE, CODE, TT	{ 
   font-family:  	monospace; 
}

EM {	
   font-style:		normal;
   font-weight:		bold;
}	
		
STRONG {	
   font-style:		italic;
   background:		#000060;
   font-weight:		bold;
   color:		#F5F5F5;
}

EM STRONG, STRONG EM {	
   text-transform:	uppercase;
   font-style:		normal;
   font-weight:		bolder;
   background:		#000060;
   color:	        #F5F5F5;
	}	
		
.warning {
   text-transform:	none;
   font-style:		normal;
   font-weight:		bolder;
   background:		white;
   color:          	red;
}

ADDRESS	{	
   font-style:		normal;
   letter-spacing:	.1em;
}	


A:link	{
   text-decoration: 	underline;
   color:           	#0000EE;
   background:    	#FFFFFF;
}	

A:visited {	
   text-decoration: 	underline;
   color:           	#551A8B;
   background:      	#FFFFFF;
}	
		
A:active	{	
   text-decoration:  	underline;
   color:	     	red;
   background: 		white;
}

A:hover	{	
   text-decoration: 	underline;
   color:           	red;
   background:      	white;
}

A.offsite {	
   text-decoration: 	underline;
   color:           	#000F63;
   background:      	white;
}	

.allblue {
   background: 		#4179ac;
   color:               #4179ac;
}


/* Så de lidt mere specifike til Linuxbog .
   Der er ganske mange klasser der anvendes i linuxbog,
   så de må blive tilføjet efterhånden */
  
.USERINPUT {
   font-family:  	monospace; 
   font-weight:		bold;
}
.PROMPT {
   font-family:  	monospace; 
   font-weigt:		normal;
}
.SCREEN {
   background-color:  #E0E0E0;
}
.COMMAND {
   font-family:  	monospace; 
   font-weight:		bold;
}
.FILENAME {
   font-weight:		bold;
}

LI,DD {
   line-height:         120%;
}
